[Unit]
Description=HomeBus CTRL-H Camera still publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-ctrlh-camera

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-ctrlh-camera.rb
TimeoutSec=30

Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
